.myrow {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.cols {
  background-color: aliceblue;
  margin: 10px;
  text-align: start;
  font-weight: 700;
  padding: 7px 0 7px 30px;
  border-radius: 10px;
  width: 75%;
}

.cols .task-title {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.cols .task-date {
  font-weight: 500;
  margin-bottom: 10px;
}

.cols-done {
  border-left: 15px solid salmon;
}

.cols-done .task-title {
  margin-bottom: 5px;
  font-size: 1.2rem;
  text-decoration: line-through;
}

.cols-done .task-date {
  font-weight: 500;
  margin-bottom: 10px;
  text-decoration: line-through;
}

.cols:hover {
  cursor: pointer;
}
